<div class="chart">
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../assets/img/icon_candles.png" alt="iconCandel"> <img src="../../assets/img/icon_dropdown.png" alt="drp"></a>
      <ul class="dropdown-menu">
        <li><a href="#"><img src="../../assets/img/icon_deep.png" alt="deepIcon"></a></li>
      </ul>
    </li>
  </ul>
  <div id="chartdiv"></div>
</div>
