<div class="barTitle">ÚLTIMOS TRADES</div>
<table>
  <tr>
    <th><span>HORA</span></th>
    <th style="padding-left: 10px;"></th>
    <th><span class="coin">MXN</span> PRECIO</th>
    <th style="padding-left: 10px;"></th>
    <th><span class="coin">BTC</span> MONTO</th>
  </tr>
  <tr *ngFor="let trade of trades">
    <td class="lt-withe-text">{{ trade.created_at.substr(11, 8) }}</td>
    <td></td>
    <td *ngIf="trade.maker_side == 'buy'" class="lt-price-buy">{{ trade.price }}</td>
    <td *ngIf="trade.maker_side == 'sell'" class="lt-price-sell">{{ trade.price }}</td>
    <td></td>
    <td class="lt-withe-text">{{ trade.amount }}</td>
  </tr>
</table>
