@font-face {
  font-family: DINPro;
  src: url("/assets/fonts/DINPro-Medium.otf");
  src: url("/assets/fonts/DINPro-Medium.woff") format("woff"),
       url("/assets/fonts/DINPro-Medium.ttf") format("truetype");
}
