<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../../assets/img/bitso_logo.png" alt="Bitso logo"></a>
      <label>|</label>
      <label id="labview">EXCHANGE</label>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown drp-price">
          <a class="dropdown-toggle drp-price" data-toggle="dropdown" data-target="#"><span>1 BTC = 000,000.00 MXN</span></a>
          <ul class="dropdown-menu drp-menu drp-price-menu">
            <li><a href="#">1 ETH = 11797.45 MXN </a></li>
            <li><a href="#">1 XRP = </a></li>
            <li><a href="#">1 XRP = </a></li>
            <li><a href="#">1 ETH = </a></li>
            <li><a href="#">1 BCH = </a></li>
            <li><a href="#">1 LTC = </a></li>
            <li><a href="#">1 LTC = </a></li>
            <li><a href="#">1 BCH = </a></li>
          </ul>
        </li>
        <li><a> | </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wallet <img src="../../assets/img/icon_dropdown.png" alt="drp"></a>
          <ul class="dropdown-menu drp-menu">
            <li><a href="#">Loading...</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Loading...</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exchange <img src="../../assets/img/icon_dropdown.png" alt="drp"></a>
          <ul class="dropdown-menu drp-menu">
            <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Trading</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Resumen</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  Live Trades</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Posturas</a></li>
          </ul>
        </li>
        <li><a href="#">Ayuda</a></li>
        <li>
          <div id="circleImg">
            <div id="profileImg">
              <img src="" alt="">
          </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <img src="../../assets/img/icon_dropdown.png" alt="drp"></a>
          <ul class="dropdown-menu drp-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Perfil</a></li>
            <li><a href="https://bitso.com"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Cerrar sesión</a></li>
          </ul>
        </li>
        <li>
          <label class="switch">
              <input checked type="checkbox">
              <span class="slider round"><div id="moon"></div></span>
          </label>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
