/*
 * Navy color variables */
/*
 * Text color */
/*
 * Sidebar color variables */
/*
 * Red color variables */
/*
 * Green color variables */
/*
 * Other colors */
.buy,
.sales {
  background-color: #161a1e;
  color: #b0bac1;
  width: 600px;
}
.buy {
  margin: 10px 0 0 17px;
  padding: 8px 0 8px 8px;
}
.sales {
  margin: 10px 0 0 0;
  padding: 8px 0 8px 10px;
}
.coinBuy {
  color: #596779;
  font-size: 12px;
}
.coinSell {
  color: #596779;
  font-size: 12px;
  padding-right: 322px;
}
.amountPosture {
  padding-left: 308px;
}
.buyTable {
  margin-left: 17px;
}
table tr {
  text-align: center;
  padding: 5px;
}
table tr .buyPrice {
  color: #86af6b;
}
table tr .sellPrice {
  color: #ba3040;
}
table tr td {
  color: #4e5863;
  font-weight: normal;
}
table tr th {
  color: #747f89;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  font-weight: normal;
}
table tr th span {
  color: #4e5863;
  font-size: 11px;
}
table .buyRows:hover {
  background-color: #466830;
}
table .buyRows:hover .sumBuyPosture,
table .buyRows:hover .orderAmountBuyPosture,
table .buyRows:hover .valueBuyPosture {
  color: #b0bac1;
}
table .salesRows:hover {
  background-color: #722837;
}
.separator {
  width: 70px;
}
.buySection:hover > .buy {
  border-left: 4px solid #86af6b;
  background-color: #252c36;
}
.salesSection:hover > .sales {
  border-right: 4px solid #ba3040;
  background-color: #252c36;
}
