.buy, .sales {
  background-color: #313d4c;
  color: #b0bac1;
  width: 600px;
}

.buy {
  border-left: 4px solid #86af6b;
  margin: 10px 0 0 17px;
  padding: 8px 0 8px 8px;
}

.sales {
  border-right: 4px solid #ba3040;
  margin: 10px 0 0 0;
  padding: 8px 0 8px 10px;
}

.coinBuy {
  color: #596779;
  font-size: 12px;
}

.coinSell {
  color: #596779;
  font-size: 12px;
  padding-right: 310px;
}

.amountPosture {
  padding-left: 295px;
}

.buyTable {
  margin-left: 17px;
}

table, tr, th {
  color: #b0bac1;
  padding: 5px;
  font-size: 13px;
  text-align: center;
}

.buyPrice {
  color: #86af6b;
}

.sellPrice {
  color: #ba3040;
}

.separator {
  width: 70px;
}
