<div class="row marketInfo">
  <div class="col-md-2">
    <li id="marketSelection" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BTC/MXN <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
  </div>
  <div class="col-md-8">
    <div class="marketDinaInfo">
      <label for="todays volumen">Volumen 24 hrs.</label><span> 170.5405818</span><span> BTC</span>
      <label for="maximun todays volumen">Max.</label><span> 304.934.23</span><span> MXN</span>
      <label for="minimun todays volumen">Min.</label><span> 274.934.23</span><span> MXN</span>
      <label for="maximun todays volumen">Variación</label><span> +4,061.68</span><span> MXN</span><span> (1.4%)</span>
    </div>
  </div>
  <!-- <div class="col-md-2">
    <div class="marketDinaInfo">
      <label for="maximun todays volumen">Max.</label><span> 304.934.23</span><span> MXN</span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="marketDinaInfo">
      <label for="minimun todays volumen">Min.</label><span> 274.934.23</span><span> MXN</span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="marketDinaInfo">
      <label for="maximun todays volumen">Variación</label><span> +4,061.68</span><span> MXN</span><span> (1.4%)</span>
    </div>
  </div> -->
</div>

